<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Course Project">
    <title>Optimal Sample Selection</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/layouts/side-menu.css">
    <link href="__PUBLIC__/waitMe/waitMe.min.css" type="text/css" rel="stylesheet">
</head>
<body>
<!--<form method="post" action="{:U('Index/optimal')}">-->
<!--<input id="n" name="n" value="1,2,3,4,5,6,7"/>-->
<!--<input id="k" name="k" value="5"/>-->
<!--<input id="j" name="j" value="4"/>-->
<!--<input id="s" name="s" value="2"/>-->
<!--<input type="submit"/>-->
<!--<input type="button" id="btn_random" value="Random">-->
<!--</form>-->

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="main">
        <div class="header">
            <h1>Optimal Sample Selection</h1>

            <h2></h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Requirement</h2>

            <p>
                The first blank input the elements set. ( Using <strong> ,</strong> to divide the element eg: 1,2,3,4...) <br/>
                The rest of blank should satisfy the formula s <= j <= k and must be positive value.
            </p>

            <p>
            </p>

            <form id="form_optimal" role="form" class="pure-form combination" method="post" action="{:U('Index/optimal')}">
                <div class="form-group">
                    <fieldset>
                        <input name="n" type="text" placeholder="eg: 1,2,3,4..." class="pure-input-1">
                        <input name="k" type="text" placeholder="k" class="pure-input-3-1">
                        <input name="j" type="text" placeholder="j" class="pure-input-3-1">
                        <input name="s" type="text" placeholder="s" class="pure-input-3-1 pure-input-3-3">
    
                        <button id="btn_submit" class="pure-button pure-button-primary">Submit</button>
                        <button class="pure-button pure-button-active">Random Generate</button>
                    </fieldset>
                </div>
            </form>


            <h2 class="content-subhead">Result:</h2>

            <p class="result" style="color:rgb(255,69,0)">
                {$result}
            </p>

        </div>
    </div>
</div>
<script src="__PUBLIC__/js/jquery-1.11.3.js"></script>
<script src="__PUBLIC__/waitMe/waitMe.min.js"></script>
<script>
    $(function () {
//        $("#btn_random").click(function () {
//            var chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
//        });
//        function generateMixed(n) {
//            var res = "";
//            for (var i = 0; i < n; i++) {
//                var id = Math.ceil(Math.random() * 35);
//                res += chars[id];
//            }
//            return res;
//        }

        $('#btn_submit').click(function(){
                $('#form_optimal').submit();
                $('#form_optimal').waitMe({
                    effect: 'stretch',
                    text: "Please wait...",
                    bg: 'rgba(255,255,255,0.7)',
                    color:'rgb(60, 198, 198)',
                    sizeW:'',
                    sizeH:''
                });
        });
    });
</script>
</body>
</html>
